@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  background-color: #FFFFFF
  text-align: left;
  font-family: 'montserrat';
  font-weight: 100;
  color: #000000;
  padding: 40px;
}

p{
  font-weight: normal;
  font-family: 'montserrat';
  font-size: 12px;
}

h1{
  font-size: 36px;
  font-weight: 200;
  margin: 10px;
}

h2{
  font-size: 24px;
  font-weight: 200;
  margin: 10px;
}

h3{
  font-size: 18px;
  font-weight: 200;
}

h4{
  font-size: 16px;
  font-weight: 200;
}

h5{
  font-size: 14px;
  font-weight: 200;
}

h6{
  font-size: 12px;
  font-weight: 200;
}

ul{
  list-style-type: disc;
  font-size: 10px;
  list-style-position: inside;
  font-family: 'montserrat';
}

ol{
  font-size: 10px;
  list-style-position: include;
  font-family: 'montserrat';
}

a:link{
  color: #29ABE2;
  font-weight: lighter;
  font-size: 12px;
  font-family: 'montserrat';
}

a:visited{
  color: #999999;
  font-weight: lighter;
  font-size: 12px;
  font-family: 'montserrat';
}

a:hover{
  color: #C9E3FF;
  font-weight: bold;
  font-size: 12px;
  font-family: 'montserrat';
}

hr{
  font-weight: 400;
}

.main{
  border-left: 3px #29ABE2 solid;
  padding-left: 35px;
  height: 90vh;
  width: 85vw;
  vertical-align: left;
}

.a{
  position: absolute;
   bottom: 10vh;
   width: 85vw;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 399px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 399px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main h1 {
    font-size: 5rem;
  }

  .main img {
    width: 100%;
    float: right;
  }

}

@media screen and (max-width: 399px) {
  .main {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    white-space: normal;
    text-wrap: wrap;
    overflow: visible;
    padding: 0rem 0rem 0rem 1rem;
  }
}

@media screen and (max-width: 399px) {
  .topnav {
    overflow: hidden;
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 0rem 0rem 0rem 1rem;
  }
