@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Text */

body{
  background-color: #FFFFFF
  text-align: left;
  font-family: 'montserrat';
  font-weight: 100;
  color: #000000;
  padding: 40px;
}

p{
  font-weight: normal;
  font-family: 'montserrat';
  font-size: 18px;
}

h1{
  font-size: 36px;
  font-weight: 200;
  font-weight: bold;
}

h2{
  font-size: 24px;
  font-weight: 200;
  font-weight: bold;
}

h3{
  font-size: 18px;
  font-weight: 200;
  font-weight: bold;
}

h4{
  font-size: 16px;
  font-weight: 200;
}

h5{
  font-size: 14px;
  font-weight: 200;
}

h6{
  font-size: 12px;
  font-weight: 200;
}

ul{
  list-style-type: disc;
  font-size: 10px;
  list-style-position: inside;
  font-family: 'montserrat';
}

ol{
  font-size: 10px;
  list-style-position: include;
  font-family: 'montserrat';
}

/* Links */

.a{
  position: absolute;
   bottom: 10vh;
   width: 85vw;
}

a:link{
  color: #29ABE2;
  font-weight: lighter;
  font-size: 12px;
  font-family: 'montserrat';
}

a:visited{
  color: #999999;
  font-weight: lighter;
  font-size: 12px;
  font-family: 'montserrat';
}

a:hover{
  color: #C9E3FF;
  font-weight: bold;
  font-size: 12px;
  font-family: 'montserrat';
}

/* Navigation Bar */

.navbar {
  background-color: #000000;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #C9E3FF;
  color: black;
}

.navbar a.active {
  background-color: none;
  color: white;
}

/* CSS Flexbox */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.content1 {
  padding: 15px;
  align-items: center;
  align-content: center;
  flex: 33%;
}

.content2 {
  padding: 15px;
  align-items: center;
  align-content: center;
  flex: 33%;
}

.content3 {
  padding: 15px;
  align-items: center;
  align-content: center;
  flex: 33%;
}

.content4 {
  align-items: center;
  align-content: center;
  flex: 100%;
}

/* Media Queries */

@media screen and (min-width: 401px) {
  .content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content4 h1 {
    font-size: 2rem;
    text-align: left;
    margin: 10px
  }

  .content2 p {
    font-size: .25rem;
    text-align: center;
  }

  .content1 img {
    width: 100%;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
    float: center;
  }

  .content2 img {
    width: 100%;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
    float: center;
  }

  .content3 img {
    width: 100%;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
    float: center;
  }

}

@media screen and (min-width: 1899px) {
  .content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content4 h1 {
    font-size: 5rem;
    text-align: left;
    padding: 0px 0px 0px 0px;
  }

  .content2 p {
    font-size: 2rem;
    text-align: center;
  }

  .content1 img {
    width: 100%;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
    float: right;
  }

  .content2 img {
    width: 100%;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
    float: right;
  }

  .content3 img {
    width: 100%;
    align-items: center;
    align-content: center;
    text-wrap: wrap;
    float: right;
  }

}

/* Button */

button {
    transition: all 300ms ease-in-out;
    font-size: 20px
}

.was-clicked {
    color: blue
}

/* Background Image */

.backgroundImage {
  width: 400px
}
